<h2>{{model.title}}</h2>

    <p><span class="muted">
      date: {{format-date model.date}}<br>
      author: {{model.author.name}}
  </span></p>

  <div class="body">
      <p>{{format-markdown model.body}}</p>
  </div>

  {{#if isEditing}}
      {{partial "blog/post/edit"}}
      <button class="btn btn-success" {{action "doneEditing"}}>Done</button>
  {{else}}
      <button class="btn btn-primary" {{action "edit"}}>Edit</button>
  {{/if}}
